@use '../components/'as *;

.skip-link {
    border: 0;
    padding: 0;
    clip-path: inset(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;   
    overflow: hidden;
    position: absolute;

    &:focus {
        position: static;
        height: auto;
        width: fit-content;
        padding: .1rem .5rem;
        margin: auto;
        overflow: auto;
        clip: auto;
        border-radius: .25rem;
        background: color(secondary);
        color: color(dark);
    }

    &--main:focus {
        position: fixed;
        margin-top: .5rem;
        top: 0;
        left: 0;
        right: 0;
    }
}